body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}

.board {
  border: 1px solid steelblue;
  border-radius: 8px;
  display: grid;
  grid-gap: 8px;
  grid-template-rows: repeat(5, 1fr);
  margin: 20px auto;
  max-width: 420px;
  min-height: 400px;
  overflow: auto;
  padding: 20px;
}

.row {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(6, 1fr);
}

.tile {
  align-items: center;
  color: white;
  display: inline-flex;
  font-size: 2em;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 8px;
  min-height: 40px;
  min-width: 40px;
  padding: 4px;
  text-transform: uppercase;
}

.tile.tbd {
  border: 1px solid grey;
  color: black;
}

.tile.absent {
  background-color: #86888a;
}

.tile.correct {
  background-color: green;
}

.tile.present {
  background-color: #c9b43b;
}
