body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
	text-align: center;
}

.board {
  border: 1px solid steelblue;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 400px;
  min-height: 400px;
  overflow: auto;
  padding: 20px;
}